/* ------------cover bootstrap style------------ */
:root {
  /* change color-scheme */
  --bs-primary: #1A3A5A;      
  --bs-secondary: #f8f5f0; 
  --bs-info: #CC4D1E;   

  /* change font */
  --bs-body-font-family: 'Instrument Sans', sans-serif;
}

.container {
  padding-left: 20px !important;
  padding-right: 20px !important;
  max-width: 100% !important;
}

/* ------------font style for mobile------------ */
/* font family */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  line-height: 32px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

body {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  line-height: 22px;
}

.semibold {
  font-weight: 600;
  line-height: 22px; 
}

.primary-btn {
  background-color: var(--bs-info);
  color: var(--bs-secondary);
  border-radius: 24px;
  border: none;
  /* text style */
  text-align: center;
  font-family: "Instrument Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  /* layout */
  display: inline-flex;
  height: 48px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-btn:visited {
  border: 4px solid var(--bs-primary);
  background: var(--bs-info);
}

.primary-btn:focus {
  border: 6px solid var(--bs-primary);
  background: var(--bs-info);
}

.primary-btn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), #CC4D1E;
}

.secondary-btn {
  background-color: var(--bs-secondary);
  border-radius: 24px;
  border: 1px solid var(--bs-primary);
  /* text style */
  color: var(--bs-primary);
  text-align: center;
  font-family: "Instrument Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; 
  width: max-content;
  /* layout */
  display: inline-flex;
  height: 39px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.secondary-btn:visited {
  border: 4px solid var(--bs-info);
  color: var(--bs-info);
}

.secondary-btn:visited {
  border: 6px solid var(--bs-info);
  color: var(--bs-info);
}

.secondary-btn:hover {
  border: 4px solid var(--bs-primary);
}

 /* ------------Banner Styles------------ */
.banner-section {
  background-image: url('./images/mobile/homepage/weightlifting.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 351px;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* ------------Navigation Styles------------ */
/* humberger menu */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 245, 240, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Offcanvas menu styles */
.offcanvas {
  background-color: var(--bs-secondary);
}

.nav-item.active {
  border-left: var(--bs-info);
}

.nav-link.active {
  color: var(--bs-info);
}

/* ------------schedule container style------------ */
.text-info {
  color: var(--bs-info) !important;
}

.text-info-bg {
  background-color: var(--bs-info) !important;
}

/* Add spacing between each section */
.container {
  margin-top: 96px !important;
}

/* ------------facility section&inclusive------------ */
.ice-rink-card {
  background-color: #fff5f0;
}

.gym-card {
  background-color: #fffff0;
}

.fitness-card, .pool-card {
  background-color: #f0f8ff;
}

.top-up {
  top: -50px;
}

/* ------------footer section------------ */
.footer-bg {
  background-color: var(--bs-secondary);
}

    
/* ------------------------responsive------------------------ */
 /* ------------font size&btn styles for desktop and tablet------------ */
@media (min-width: 992px) {
  h1 {
    font-size: 48px;
    line-height: 68px;
    font-weight: 700;
    line-height: 68px;
  }

  h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    line-height: 44px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  body {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  .semibold {
    font-weight: 600;
    line-height: 24px; 
  }

  .notes {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }

  .primary-btn {
    background-color: var(--bs-info);
    color: var(--bs-secondary);
    border-radius: 24px;
    border: none;
    /* text style */
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: 0.08px;
    /* layout */
    display: inline-flex;
    height: 48px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .primary-btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), #CC4D1E;
  }
  
  .primary-btn:visited {
    border: 4px solid var(--bs-primary);
    background: var(--bs-info);
  }
  
  .secondary-btn {
    background-color: var(--bs-secondary);
    border-radius: 24px;
    border: 1px solid var(--bs-primary);
    /* text style */
    color: var(--bs-primary);
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* layout */
    display: inline-flex;
    height: 39px;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .secondary-btn:hover {
    border: 4px solid var(--bs-primary);
  }
  
  .secondary-btn:visited {
    border: 4px solid var(--bs-info);
    color: var(--bs-info);
  }

  .menu-bg {
    background-color: var(--bs-secondary);
  }

  .nav-custom {
    color: var(--bs-primary);
    background-color: var(--bs-secondary);
  }

  .nav-custom:hover {
    color: var(--bs-info);
    background-color: var(--bs-secondary);
  }

  .banner-section {
    background-image: url('./images/tablet/homepage/weightlifting.png');
    height: 659px;
  }

  .inclusive-kids {
  background-color: #fff5f0;
  }

  .inclusive-fitness {
  background-color: #fffff0;
  }

  .pool-card, .inclusive-senior {
  background-color: #f0f8ff;
  }

}

/* ------------styles for desktop------------ */
@media (min-width: 1200px) {
  .banner-section {
    background-image: url('./images/desktop/homepage/weightlifting-1728x973.jpg');
    height: 973px; 
  }
}